.footer {
  margin-top: auto;
}

.footer-main {
  background-color: #4D3822; /* Marrón oscuro */
  padding: 40px 0;
  color: white;
  height: 700px;
}

.footer-content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 16px;
  padding: 16px;
}

/* -----------AREA DE IMAGEN DE LAS BANDERAS--------------------- */
.footer-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* -----------AREA DE IMAGEN DE LAS BANDERAS--------------------- */

.footer-info{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
  gap: 16px;
}

/* ---------------------AREA DE CONTACTOS---------------------- */
.footer-units-title{
  border-radius: 4px;
  grid-column: 1;
  grid-row: 1;
  writing-mode: vertical-rl;
  transform: scale(-1); 
  text-orientation: sideways;  
  color: #D1B993;
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  letter-spacing: 4px;
  padding: 0 8px;
}

.footer-contact{
  border-radius: 4px;
  grid-column: 2;
  grid-row: 1;
}

.contact-title {
  color: #D1B993;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 85%;
}

.contact-item {
  margin-bottom: 10px;
}


.contact-link {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 4px 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2); /* línea divisoria opcional */
}

.contact-link:hover {
  color: #FF9900;
}

.contact-name {
  text-align: left;
}

.contact-phone {
  text-align: right;
  white-space: nowrap;
}
/* ---------------------AREA DE CONTACTOS---------------------- */



/* -----------------AREA DE REDES SOCIALES------------------------ */
.footer-links{
  border-radius: 4px;
  grid-column: 1 / span 2;  /* ocupa col 1 y 2 */
  grid-row: 2;
}
.footer-social {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

.follow-text {
  grid-column: 1;
  grid-row: 1;
  color: #D1B993;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

.social-icons {
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
}

.logo-footer {
  grid-column: 2;
  grid-row: 1 / span 2;

}
/* -----------------AREA DE REDES SOCIALES------------------------ */
.footer-bottom {
  background-color: #2E2416; 
  padding: 15px 0;
  color: white;
  text-align: center;
}

.copyright {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 992px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
  
  .footer-social {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .follow-text {
    margin-right: 0;
  }
}